/* Write your CSS here */
.project-container {
  height: 100%;
  width: 100%;
}
.project-description-container {
  font-family: Roboto;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.project-image {
  height: 80%;
  width: 100%;
}
.duration-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
